/* take same style from login page */
.form-login form select {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: 0.3s;
  margin: 20px 0;
  cursor: pointer;
}

/* option {
  font-size: 1rem;
} */
.form-login form select:focus {
  outline: none;
}

.form-login form select option {
  font-size: 1rem;
}
