.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 40px;
}

.item-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  width: 50%;
  gap: 15px;
  flex-basis: 50%;
}

.item-pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end !important;
}

.item-pricing > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-pricing > div .heart {
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.item-pricing > div .heart:hover {
  color: #ff0000;
}

.item-image-carousel {
  width: 50% !important;
  flex-basis: 50%;
  height: 50% !important;
}

@media (max-width: 768px) {
  .item-container {
    flex-direction: column;
    gap: 20px;
  }

  .item-info {
    width: 100%;
    flex-basis: 100%;
  }

  .item-image-carousel {
    width: 100% !important;
    flex-basis: 100%;
    height: 100% !important;
  }

  .comment-container {
    max-width: 100% !important;
    margin-top: 40px;
  }
}

.item-image-carousel .image-item {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.userNam-edite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edite-item,
.delete-item {
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.edite-item:hover {
  color: #2ccfd8;
}

.delete-item:hover {
  color: #ff0000;
}

/* style comment */

.comment-container {
  border: 1px solid #ddd;
  max-width: 50%;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
}
.comment {
  text-align: start;
  margin: 20px 0;
  border-radius: 25px;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.comment-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.comment-form input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #777;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: 0.3s;
  margin: 20px 0;
  background-color: #eee;
}
.comment-form input:focus {
  outline: none;
}

.comment-form button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 25px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: 0.3s;
  margin: 20px 0;
  background-color: #1fd1f9;
  color: #fff;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #2ccfd8;
}
